* {
  margin: 0;
}

/* :root {
  --double-shot: font-family: 'Imbue', serif;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HEADER Component */

/* FRONT Component */
.front-container {
  background-image: url("./img/hero-mobile.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 20rem;
  background-color: black;
  height: 40vh;
}

.ds-logo {
  margin: auto;
  width: 100vw;
}

img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.ds-font {
  font-family: "Imbue", serif;
  color: red;
  font-size: 40px;
}

/* ABOUT section */
.about-photo {
  background-color: black;
}

.card {
  width: 18rem;
}

@media screen and (min-width: 768px) {
  .front-container {
    background-image: url("./img/hero-768.jpg");
    background-size: 75%;
    height: 80vh;
  }
  
  header {
    margin-bottom: -80px;
  }

  .ds-logo {
    width: 35%;
    margin-left: 0px;
  }

  img {
    display: block;
    border: none;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .front-container {
    background-size: 70%;
    background-position: center 8%;
    background-image: url("./img/hero-lg.jpg");
    height: 80vmax;
  }

  .ds-logo {
    width: 25%;
  }
}
